[submodule "thirdparty/jsoncpp"]
	path = thirdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "thirdparty/RTSP"]
	path = thirdparty/RTSP
	url = https://github.com/ZHEQIUSHUI/RTSP.git
[submodule "thirdparty/RtspServer/RtspServer"]
	path = thirdparty/RtspServer/RtspServer
	url = https://github.com/ZHEQIUSHUI/RtspServer.git
[submodule "thirdparty/mosquitto"]
	path = thirdparty/mosquitto
	url = https://github.com/eclipse/mosquitto.git
